<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
	<link rel="stylesheet" href="/stylesheets/carrinho.css">
	<title>Carrinho</title>
</head>

<body>
	<div class="container">
		<%- include('./partials/header') %>

			<main>
				<div class="blur-1"></div>
				<div class="caixa-1">

					<div class="h1-2">
						<h1>Meu carrinho</h1>
					</div>

					<div class="produtos-2">

						<% produtos.forEach((produto)=> { %>
							<% if(produto.id==carrinho.produto_id) { %>
								<div class="produtoInfo-3">


									<div class="produto1-4">
										<div class="produto1Info-5">
											<div class="produto1PrecoTxt-6">Preço</div>
											<div class="produto1QuantidadeTxt-6">Quantidade</div>
											<div class="produto1SubtotalTxt-6">Subtotal</div>
										</div>
										<div class="produto1InfoAndConfig-5">
											<div class="produto1Image-6">
												<!-- <img src="/images/phones/samsung/Ultra/Preto/FrontBack.png" alt="S22ULTRA"> -->
												<img src="<%=produto.url%>" alt="S22ULTRA">
											</div>
											<div class="produto1Description-6">

												<p class="produtoDesc-7">
													<%= produto.descricao %>
												</p>

												<div class="cor-7">
													<p>
														Cor: <b><%= produto.cor %></b> 
													</p>
												</div>
											</div>
											<div class="produto1Preco-6">

												<p class="preco-7">
													<%   %>
													R$ <%= produto.preco.replace('.',','); %>
												</p>

											</div>
											<div class="produto1QuantidadeChange-6">
												<button class="diminuir-7">-</button>
												<p class="quantidade-7">
													<%= carrinho.produto_quantidade %>
												</p>
												<button class="aumentar-7">+</button>
											</div>
											<div class="produto1Subtotal-6">
												<% const preco = produto.preco%>
												<% parseFloat(preco) %>
												<% carrinhoQuantidade = carrinho.produto_quantidade%>
												<% parseFloat(carrinhoQuantidade) %>
												<% let subtotal = preco*carrinhoQuantidade; %>
												<% console.log(subtotal, preco, carrinhoQuantidade) %>
												<p class="precoSubtotal-7">
													R$ <%= subtotal.toFixed(2).replace('.',',') %>
												</p>
													
											</div>
										</div>
										<p class="acessorios-5">Acessorios</p>
										<div class="acessoriosAdd-5 acessoriosAddNone-5">
											<% acessorios.forEach((acessorio) => { %>
												<% if(acessorio.id==carrinho.acessorio_produto_id) { %>
											<div class="acessorio-6">
												<img class="acessorioImage-7" src="<%= acessorio.url %>"
													alt="Galaxy Buds Pro">
												<div class="descricao-7">
													<h5>Descrição</h5>
													<p class="descricao-8"> <%= acessorio.descricao %> </p>
												</div>
												<div class="quantidade-7">
													<h5>Quantidade</h5>
													<div class="quantidade-8">
														<button class="diminuirAcessorio-9">-</button>
														<p class="quantidade-9"> <%= carrinho.acessorio_quantidade %> </p>
														<button class="aumentarAcessorio-9">+</button>
													</div>

													<div class="precoAcessorio-8">
														<h5>Preço</h5>
														<p> <%= acessorio.preco.replace('.',',') %> </p>
													</div>
												</div>
												<div class="subtotal-7">
												 <% const precoA = acessorio.preco %>
												 <% parseFloat(precoA) %>
												 <% const carrinhoAcessorioQuantidade = carrinho.acessorio_quantidade%>
												 <% parseFloat(carrinhoAcessorioQuantidade) %>
												 <% var subtotalA = precoA*carrinhoAcessorioQuantidade; %>
												 <% console.log(subtotalA) %>
													<p>Subtotal</p>
													<p class="subtotal-8">R$ <%= subtotalA.toFixed(2).replace('.',',') %></p>
													<div>
														<button class="remover-9">Remover</button>
													</div>
												</div>
												
											</div>
												<% } %>
											<% }) %>
											

										</div>

										<div class="produto1Delete-5">
											<button class="produto1Delete-6">
												Delete
											</button>
										</div>
										
										<div class="confirmeDeletar-5">
											<h3>Tem certeza que deseja excluir todos os itens do seu carrinho?</h3>
											
											<div class="confirmar-6">
												<button class="confirmar-7">Confirmar</button>
												<button class="cancelar-7">Cancelar</button>
											</div>
										</div>
									</div>

								</div>
									<% } %>
								<% }) %>

										<div class="finalizar-3">

											<div class="calculeFrete-4">
												<div class="resumo-5"
													style="font-size: 2vw;  width: auto; background-color: white; font-weight: 600;">
													<p>Resumo</p>
												</div>
												<form class="form-5">

													<label for="CEP" class="formLabel-6">Calcule seu frete</label>
													<input class="cepInput-7" id="CEP" type="tel" name="CEP" id="CEP" pattern="[0-9]{5}-[0-9]{2}"
														placeholder="00000-00" />

												</form>
												<button class="calcular-5">Calcular</button>

											</div>

											<div class="cupomDesconto-4">
												<form class="formCupom-5" id="enviar">

													<label for="Cupom" class="formCupomLabel-6">Adicione um cupom de desconto</label>
													<input class="cepCupomInput-7" id="CEP" type="tel" name="CEP" id="Cupom"
														placeholder="Digite o cupom..." />

												</form>
												<button class="adicionar-5">Adicionar</button>

											</div>

											<div class="infosAndConcluir-4">
												<div class="subtotal-5">
													<p>Subtotal</p>
													<b>
														<p class="produtoDesc-7" style="font-weight: 400">R$0.000,00</p>
													</b>
												</div>

												<div class="precoFrete-5">
													<p>Frete</p>
													<b>
														<p class="produtoDesc-7" style="font-weight: 400">R$000,00</p>
													</b>
												</div>

												<div class="total-5">
													<p>Total</p>
													<b>
														<p class="produtoDesc-7" style="font-weight: 400">R$0.000,00</p>
													</b>
												</div>

												<div class="comprar-5">
													<a style="text-decoration:none; color: var(--color4);" target="_blank"
														href="/comprafinalizada">
														<p style="font-weight: bold;">Finalizar pedido</p>
													</a>
												</div>

											</div>
										</div>

					</div>
				</div>
			</main>

			<%- include('./partials/footer') %>
				<script defer type="text/javascript"  src="/javascripts/carrinho.js"></script>
	</div>
</body>